{% extends 'base.html.twig' %}
  
    {% block nav %}
      <a href="/registration"><button class="reg_button">Регистрация</button></a>
    {% endblock %}
    {% block content %}
      <div class="form_block">
        <h3 class="log_in_header">Вход</h3>
        <form action="{{ path('login')}}" method="POST">
          <input class="field" type="email" name="_username" value="{{ last_email }}" placeholder="Почта"> 
          <input class="field" type="password" name="_password" placeholder="Пароль">  
          <input class="submit_button" type="submit" value="Войти">    
        </form>
      </div>
    {% endblock %}
