body
{
	padding-top: 34px;
	padding-left: 74px;
	padding-right: 56px;
}

.main_header
{
	font: bold 24px/28px Arial;
	padding-left: 30px;
}

.login_button
{
	padding-left: 25px;
	padding-right: 25px;
	height: 40px;
	border-radius: 10px;
	background: #F2960B;
	color: #ffffff;
	border: 1px solid #f2960B;
	margin-left: 20px;
	font: 18px/21px Roboto;
}


button:hover
{
	background: #ffffff;
	color: #000000;
	transition: 0.5s;
}

.login
{
	position: relative;
	top: -18px;
	right: 14px;
}

.reg_button
{
	padding-left: 30px;
	padding-right: 30px;
	height: 40px;
	border-radius: 10px;
	background: #F2960B;
	color: #ffffff;
	border: 1px solid #f2960B;
	margin-left: 20px;
	font: 18px/21px Roboto;
}

.reg
{
	position: relative;
	top: -18px;
}

.menu
{
	margin-right: 24px;
	font: 16px/19px Roboto;
	color: #000000;
}

a
{
	color: #000000!important;
}

.menu:focus
{
	border-bottom: 3px solid #F2960B;
}

a:hover
{
	text-decoration: none!important;
}

.nav
{
	position: relative;
	left: -15px;
	top: 17px;	
}

.content_block
{
	position: relative;
	top: 47px;

}

.pizza_block
{
	padding-right: 49px;
	height: 455px;
	width: 280px;
	padding-left: 0!important;
	margin-bottom: 65px;
	max-width: 329px;
	max-height: 455px;
}

.pizza_image
{
	margin-bottom: 25px;
	width: 100%;
	max-width: 280px;
}

.about_pizza
{
	font: 16px/19px Roboto;
	margin-left: 5px;
	margin-top: 8px;
	max-width: 280px;
	height: 60px;
	overflow: auto;
}

.pizza_name
{
	font: 22px/26px Roboto;
	margin-left: 5px;
}

.price
{
	margin-left: 5px;
	margin-top: 28px;
	font: 22px/26px Roboto;
}

.price_block
{
	width: 280px;
}

.buy_button
{
	margin-top: -52px;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	border-radius: 10px;
	background: #F2960B;
	color: #ffffff;
	border: 1px solid #f2960B;
	font: 18px/21px Roboto;
}

td
{
	padding: 9px;
}

th
{
	padding: 9px;
}

.orders_block
{
	margin-top: 53px;
}

.order_table
{
	position: relative;
	left: -74px;
	font: 22px/26px Roboto;
	width: 110%;
	overflow: auto;
}

.table_header
{
	background: rgba(236, 146, 12, 0.3);
	font: bold 22px/26px Roboto;
}

.order_number
{
	padding-left: 74px;
}

.last_col
{
	padding-right: 74px;
}

.form_block
{
    width: 636px;
    height: 636px;
    padding: 10px;
    margin: auto;
    border: 1px solid #A2A2A2;
    border-radius: 20px;
    margin-top: 78px;
}

.sing_up_header
{
	font: 40px/47px Roboto;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 53px;
}

.log_in_header
{
	font: 40px/47px Roboto;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 103px;
}

.field
{
	width: 503px;
	height: 60px;
	margin-bottom: 20px;
	margin-left: 62px;
	border: 1px solid #A7A7A7;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font: 24px/28px Roboto;
}

.submit_button
{
	margin-top: 30px;
	margin-left: 62px;
	height: 60px;
	width: 503px;
	text-align: center;
	border-radius: 10px;
	background: #F2960B;
	color: #ffffff;
	border: 1px solid #f2960B;
	font: 24px/28px Roboto;
}

.alert
{
	margin-bottom: 2rem;
}