
    {% block title %}About me{% endblock %}
    {% extends 'base.html.twig' %}
    {% block body %}
    <ul class="nav">
      <li><a href="#about_me"><img class="icon" alt="Картинки нет" src="images/about_me_icon.png">Обо мне</a></li>
      <li><a href="#hobby"><img class="icon" alt="Картинки нет" src="images/hobby_icon.png">Мое хобби</a></li>
      <li><a href="#films"><img class="icon" alt="Картинки нет" src="images/video_icon.png">Любимые фильмы</a></li>
    </ul>      
  	<img class="background" alt="Картинки нет" src="images/scape.jpg">
    <img class="photo_block" alt="Картинки нет" src="images/me.jpg">
    <div class="quote">
      <p class="quote_text">
        Мы берем на себя много, потому что <br> мало чего боимся     
      </p>
      <p class="quote_author">
        — Том Демарко. Deadline 
      </p>  
    </div>
    <div class="list_block">
      <h3>Любимые писатели:</h3>
      <ul class="list">
        <li>Стивен Кинг</li>
        <li>Джоан Роулинг</li>
        <li>Дмитрий Глуховский</li>
        <li>Джон Толкиен</li>
      </ul>
      <h3>Любимые фильмы:</h3>  
      <ol class="list">
        <li>Начало</li>
        <li>Зеленая книга</li>
        <li>Крестный отец</li>
        <li>Прибытие</li>
      </ol>  
    </div>
    <div class="main_block">
      <h1><a id="about_me"></a>Нуреев Марат</h1>
      <img class="line" alt="Картинки нет" src="images/line.png">      
      <p class="main_text">
        Закончил музыкальную школа по специальности фортепиано.
        В девятом классе в школе на уроках информатики узнал о программировании, 
        поучаствовал в олимпиадах, узнал что у нас в городе выпускаю отличных программистов
        с тех пор сильно им увлекся и решил поступать на ПС.
      </p>
      <h2 class="hobby"><a id="hobby"></a>Мое хобби</h2>
      <p class="main_text">
        Он регулярно посещал вечерние лекции местного профессора<br>
        и, разумеется, всегда засыпал на самом интересном месте.<br> 
        A когда просыпался, то обнаруживал себя в каком‑нибудь<br>
        параллельном мире, где один из основных законов физики<br> 
        действовал не так, как в его мире.     
      </p>
       <a href="https://vk.com/id42417613" class="link">
         <span class="link_underline">Напиши мне</span> →
       </a>
    </div>
    <div id="films" class="films_header">
      <h2><a></a>Любимые фильмы</h2> 
    </div>
    <div class="film1 film_text">
      <img class="film_image" alt="Картинки нет" src="images/film1.png">
      <h4>Начало</h4>
      <p>     	
      	Кобб — талантливый вор, лучший из лучших в опасном искусстве извлечения: он крадет ценные секреты из глубин подсознания во время сна, когда человеческий разум наиболее уязвим. Редкие способности Кобба сделали его ценным игроком в привычном к предательству мире промышленного шпионажа, но они же превратили его в извечного беглеца и лишили всего, что он когда-либо любил.
        И вот у Кобба появляется шанс исправить ошибки. Его последнее дело может вернуть все назад, но для этого ему нужно совершить невозможное — инициацию.
      </p>
    </div> 
    <div class="film2 film_text">
      <img class="film_image" alt="Картинки нет" src="images/film2.png">
      <h4>Зеленая книга</h4>
      <p>
      	1960-е годы. После закрытия нью-йоркского ночного клуба на ремонт вышибала Тони по прозвищу Болтун ищет подработку на пару месяцев. Как раз в это время Дон Ширли, утонченный светский лев, богатый и талантливый чернокожий музыкант, исполняющий классическую музыку, собирается в турне по южным штатам, где ещё сильны расистские убеждения и царит сегрегация. Он нанимает Тони в качестве водителя, телохранителя и человека, способного решать текущие проблемы. У этих двоих так мало общего, и эта поездка навсегда изменит жизнь обоих. 
      </p>
    </div>
    <div class="film3 film_text">
      <img class="film_image" alt="Картинки нет" src="images/film3.png">
      <h4>Крёстный отец</h4>
      <p>
      	Криминальная сага, повествующая о нью-йоркской сицилийской мафиозной семье Корлеоне. Фильм охватывает период 1945-1955 годов.
        Глава семьи, Дон Вито Корлеоне, выдаёт замуж свою дочь. В это время со Второй мировой войны возвращается его любимый сын Майкл. Майкл, герой войны, гордость семьи, не выражает желания заняться жестоким семейным бизнесом. Дон Корлеоне ведёт дела по старым правилам, но наступают иные времена, и появляются люди, желающие изменить сложившиеся порядки. На Дона Корлеоне совершается покушение.
      </p>
    </div>
    <div class="film4 film_text">
      <img class="film_image" alt="Картинки нет" src="images/film4.png">
      <h4>Прибытие</h4>
      <p>	
      	Неожиданное появление неопознанных летающих объектов в разных точках планеты повергает мир в трепет. Намерения пришельцев не ясны — вооружённые силы всего мира приведены в полную боевую готовность, а лучшие умы человечества пытаются понять, как разговаривать с непрошеными гостями. Правительство обращается за помощью к лингвисту Луизе Бэнкс и физику Яну Доннели, чтобы предотвратить глобальную катастрофу и найти общий язык с пришельцами. Отныне судьба человечества находится в их руках.
      </p>
    </div>
    <a href="https://www.kinopoisk.ru/" class="button">Все фильмы</a>
    <footer>
      <p>© 2006-2018 Поволжский государственный технологический университет, ФГБОУ ВО «ПГТУ»</p>
    </footer>
    {% endblock %}