{% extends 'base.html.twig' %}

    {% block nav %}
      <a href="/registration"><button class="reg_button">Регистрация</button></a>
      <a href="/login"><button class="login_button">Вход</button></a> 
    {% endblock %}
    {% block content %}
      <div class="container-fluid">
        <ul class="nav">
          <li>
            <a class="menu active" data-toggle="tab" href="#menu">Меню</a>
          </li>
          <li>
            <a class="menu" data-toggle="tab" href="#orders">Заказы</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="content_block tab-pane fade show active" id="menu">
          <div class="container-fluid">
            <div class="row">
              {% for pizza in pizzas %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 pizza_block">
                  <img class="pizza_image" src="images/pizza.png">
                  <div>
                    <h2 class="pizza_name">{{pizza.name}}</h2>
                    <p class="about_pizza">{{pizza.about}}</p>
                    <p class="price_block">
                      <p class="price">{{pizza.price}}</p>
                      <button id="buy{{pizza.number}}" class="buy_button">
                        Купить 
                      </button>
                    </p>
                  </div>
                </div>
              {% endfor %}             
            </div>
          </div>
        </div>
        <div class="orders_block tab-pane fade" id="orders">
          <table class="order_table">
            <tr class="table_header">
              <th class="order_number" width="188">Номер</th>
              <td width="210">Меню</td>
              <td width="100">Цена</td>
              <td width="210">Клиент</td>
              <td width="270">Адрес</td>
              <td class="last_col" width="300">Статус</td>
            </tr>
            <tr>
              <td class="order_number"> 1234123</td>
              <td>Пожилая пицца</td>
              <td>520р</td>
              <td>Нуреев Марат</td>
              <td>ыовларпвылоапры</td>
              <td>ывапываооплрвыап</td>
            </tr>
          </table>
        </div>
      </div>
    {% endblock %}  

